@page
@model Proiect.Pages.Biserici.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Biserica</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Biserica.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Biserica.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Biserica.Localitate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Biserica.Localitate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Biserica.Strada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Biserica.Strada)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Biserica.Numar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Biserica.Numar)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Biserica.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
