@page
@model Proiect.Pages.Biserici.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Biserica</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Biserica.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Biserica.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Biserica.Localitate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Biserica.Localitate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Biserica.Strada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Biserica.Strada)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Biserica.Numar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Biserica.Numar)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Biserica?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
